[Unit]
Description=camenc doorman service

[Service]
ExecStart=/home/pi/camenc/doorman/doorman.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target

