{% extends "base.html" %}

{% block header %}
  <span data-utc="{{last_ping}}" data-ago-live></span>
{% endblock %}

{% block main %}
<style>
ul.pp { list-style: none; display: block; padding: 0; margin: 0; }
ul.pp > li { display: inline; padding: 0; margin: 0; }
</style>

<ul class="pp">
{% for x in pics %}
<li class="preview"><img title="{{x}}" src="/camenc/preview/{{x}}" /></li>
{% endfor %}
</ul>

<hr>

<ul>
{% for x in doorman %}
  <li>
    <span data-utc="{{x.0}}">{{x.0}}</span>
    <span class="msg">{{x.1}}</span>
  </li>
{% endfor %}
</ul>

{% endblock %}
