<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>

header { overflow: hidden; margin: 0; padding: 0; }
header h1 { float: left; font-size: 30px; line-height: 30px; margin: 8px; padding: 0; }
header form { float: right; margin: 8px; padding: 0; }

main fieldset {
    display: flex;
    flex-direction: row;
}
main fieldset form,
main fieldset ul {

}
    </style>
  </head>
  <body>
    <header>
      <h1><span>camenc</span><span>{% block h1extend %}{% endblock %}</span></h1>
      <form method="post" action="{% url 'user_logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout"/>
        <input type="hidden" name="next" value="/"/>
      </form>
    </header>

    <hr/>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <hr/>

    <footer>
      &copy; 2019
    </footer>
  </body>
</html>
